body, html {
  padding: 0;
  margin: 0;
}

.mat-table {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.mat-cell, .mat-header-cell {
  white-space: normal !important;
  word-wrap: break-word !important;
}

.new-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.column-pubKey {
  width: 10%;
  max-width: 100px;
}

.column-title {
  width: 20%;
  max-width: 200px;
}

.column-authors {
  width: 15%;
  max-width: 150px;
}

.column-year {
  width: 10%;
  max-width: 50px;
}

.column-citation {
  width: 20%;
  max-width: 200px;
}

.column-pubmedid {
  width: 10%;
  max-width: 100px;
}

.column-doi {
  width: 10%;
  max-width: 100px;
}

.column-url {
  width: 15%;
  max-width: 150px;
}

.column-biomodelRefs {
  width: 10%;
  max-width: 100px;
}

.column-mathmodelRefs {
  width: 10%;
  max-width: 100px;
}

.column-date {
  width: 10%;
  max-width: 100px;
}
