<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.vcell.modelapp.AnalysisTask">
         <analysisTaskFactory
               class="org.vcell.modelapp.physics.OOModelingTaskFactory"
               displayName="Physics-based Analysis"
               shortDescription="Physics framework applied to applications"/>
   </extension>

</plugin>
