.classpath
.project
.factorypath
.settings/
/.pydevproject
/listserv/
/log4j.properties
/vcell_debug_server.properties
/vcell_localClient.properties
/vfrapPaper/
jsbml.log
target/
*.pyc
*.so
*.so.*
*.dll
*.dylib
*.exe
*_x64
testzip
ziptool
.idea
.vagrant
/update/
/.checksums
/.DS_Store
vcell-client/UserDocumentation/originalXML/helpSearchConfig.txt