.classpath
.project
.settings/
/.pydevproject
/listserv/
/log4j.properties
/vcell_debug_server.properties
/vcell_localClient.properties
/vfrapPaper/
jsbml.log
target/
*.pyc
*.so
*.so.*
*.dll
*.dylib
*.exe
*_x64
testzip
ziptool
.idea
.vagrant
/update/
/.checksums
/.DS_Store
*.iml

### macOS ###
# General
.DS_Store
*/.DS_Store
*/*/.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk