<?xml version="1.0" encoding="UTF-8"?>
<vcelldoc>
<page title="Introduction to SpringSaLaD Modeling" target="SpringSaLaDTheory">

	<introduction>
	Some text here
	
	<para>Another paragraph</para>
	<para>Yet another paragraph...</para>
	<imgReference target = "rule1.png"/>
	<para>...with images inserted between paragraphs...</para>
	<imgReference target = "reac-combined.png"/>
	</introduction>

	<appearance>  
	 
	</appearance>

	<operations>  
	

	</operations>
	
</page>

</vcelldoc>