.publication-edit-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 600px) {
  .publication-edit-container {
    grid-template-columns: auto 1fr;
  }
}

.full-width {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.sub-form {
  margin-left: 40px;
  margin-right: 40px;
}

.list-item {
  margin-top: 0;
  margin-bottom: 0;
  /*height: min-content; !* Adjust this value as needed *!*/
  /*display: flex;*/
  align-items: center;
}
