<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VCell_5.2/src/cbit/vcell/message/server/combined/VCellServices.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cbit.vcell.message.server.combined.VCellServices"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="999 - PBS signode01.cam.uchc.edu vcell rah66"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VCell_5.2"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dvcell.propertyfile=vcell_beta_windowsPaths.properties"/>
</launchConfiguration>
