<?xml version="1.0" encoding="UTF-8"?>
<vcelldoc>
<page title="Events">

	
	<introduction>
	<para>
	<bold>Events</bold> can be created within non-spatial deterministic models such that a variable or time-dependent expression can trigger a predefined reset or change in the value of other variables during simulation. 
	Essentially, an event can be used to describe anything that is discontinuous. This can be convenient to specify protocols (e.g. to open a channel from time t1 to time t2). 
	</para>
	
	<para>
	An Event in the Virtual Cell is used to define 'when' an event can occur, 'what' variables (species, global parameters) are affected, 'how' the variables are affected and optionally, the delay in the effect of the event after the occurrence of the condition that triggers it. 
	The two required parts of an event specification are a <bold>trigger</bold> conditional expression and at least one <bold>event assignment</bold> for a variable (speciesContext or global parameter). 
	The event specification can also contain an optional <bold>delay</bold> expression.
	</para>
	
	<para>
	The <bold>trigger</bold> expression must evaluate to a Boolean value. The event is fired at the time point when the trigger expression evaluates to "true" (transition from "false" to "true") during a simulation. 
	An event can be fired multiple times during a simulation (whenever the trigger expression transitions from "false" to "true").
	</para> 	
	
	<para>
	The optional <bold>delay</bold> expression represents the time duration between the firing of the event and the execution of the event assignments. 
	The delay expression is evaluated at the instant the event is fired (when the trigger expression transitions from "false" to "true"). 
	The delay expression, if present, has the unit of time (seconds in VCell).
	</para>
	
	<para>
	An event has at least one <bold>event assignment</bold>. Each event assignment is an expression assigned to a variable in the model (typically a species or global parameter). 
	The assignment of the expression to the variable happens at the instant the event is executed (at the end of the delay duration following the instant the event is triggered or fired). 
	The unit if each event assignment is the same as the variable it represents (uM for species, units of the global parameter if event assignment is for a global parameter).
	</para>
	
	<para>
	<bold>Note:</bold> Currently, events can be added only to non-spatial deterministic applications.
	</para>
	</introduction>
	
	<appearance>
		<imgReference target = "Events.GIF"/>
	</appearance>
	
	<operations>
	<para> <bold>Viewing Events</bold></para>
	<para>
	In the Virtual Cell, an event can be specified in the <bold>Protocols</bold> section of an application. 
	This can be accessed by selecting the 'Protocols' item under the application node in the Navigation panel tree structure.
	This displays the application in the <bold>View</bold> panel on the right, with the <bold>Protocols</bold> tab selected. 
	Selecting the <bold>Events</bold> tab in the 'Protocols' tab displays the events in the application. 
	If events exist in the application, the summary of the events (name, trigger and delay expressions, variables that have event assignments) are listed in a table in the 'View' panel. 
	In this table, the <bold>Name</bold> column is editable, all other columns in the events summary table cannot be edited or sorted. 
	</para>  

	<para> <bold>Adding/Deleting Events</bold></para>
	<para>
	Events can be added by clicking on the <bold>(add new here)</bold> row of the summary table. This creates a new default event. 
	Alternately, clicking the <bold>Add New</bold> button adds a new default event to the table.
	To delete an existing event, select the event to be deleted and click the <bold>Delete Selected</bold> button.  
	(Note: If a pulse is required, a second event must be included to switch the variable/parameter back to its original state.)
	</para>
	
	<para> <bold>Editing Events</bold></para>
	<para>
	Clicking an individual event in the summary table displays the selected event in the lower <bold>Properties Panel</bold>. 
	The <bold>Trigger</bold> expression and <bold>Delay</bold> expression are displayed in editable text fields. 
	The trigger expression cannot be blank and there must be at least one <bold>Event assignment</bold> for an event to be valid. 
	The checkbox <bold>Use Values at Trigger Time</bold> is a flag that indicates the time at which the event assignments of the event have to be evaluated. 
	If the checkbox is checked, the event assignments are computed at the instant the event is triggered/fired, not after the delay duration (if delay is defined). 
	If the checkbox is not checked, the assignment expressions are evaluated after the delay duration, i.e., at the instant the event is executed. 
	Note that if no delay expression is specified, the checkbox has to be checked. 
	</para>
	
	<para>
	The <bold>Event assignments</bold> for the selected event are displayed in a table (showing variable name, expression and units) in the 'Properties Panel'. 
	Event assignments can be added using the <bold>Add Variable</bold> button that pops up a dialog where the user is asked to select a variable name from a drop-down list of allowed variable names and provide an assignment expression for the variable. 
	The 'Add Variable' dialog is shown in the figure below. An existing event assignment can be deleted by selecting the variable in the table and clicking the <bold>Delete Variable</bold> button.  
	</para>
	
	<imgReference target = "EventAssgnAdd.GIF"/>

	</operations>
	
</page>

</vcelldoc>