<?xml version="1.0" encoding="UTF-8"?>
<vcelldoc>
<page title="Server">

	<introduction>
	The <bold>Server</bold> menu bar option allows the user to change the server settings for the current user of VCell.
	</introduction>
	
	<appearance>
		<imgReference target = "ServerMenu.PNG"/>
	</appearance>
	
	<operations> 
	Clicking the Server menu displays the following selections 
	<list>
		<item>
		<link target = "ChangeUser">Change User...</link> - allows user to change the user of the currently open VCell document by providing a different user name and password.
		</item>
		<item>
		<link target = "UpdateRegistrationInfo">Update Registration Info...</link> - allows user to update his/her registration information.
		</item>
		<item>
		<bold>Reconnect</bold> - allows user to reconnect to the server. The status bar displays the connecting status.
		</item>
		<item>
		<bold>Change Server</bold> - is currently disabled in this menu.
		</item>
		<item>
		<bold>Local</bold> - is currently disabled in this menu.
		</item>
	</list>
	</operations>
	
	<comments> Change Server and Local are not enabled. What is the purpose of these menu items? </comments>

</page>

</vcelldoc>