<!DOCTYPE html>
<html ng-app="vcell">
	<head>
		<title>VCell Webapp</title>
		<link rel="stylesheet" type="text/css" href="/scripts/bootstrap.min.css" />
		<script type="text/javascript" src="/scripts/angular.min.js"></script>
		<script type="text/javascript" src="/scripts/biomodel.js"></script>
		<script type="text/javascript" src="/scripts/app.js"></script>
	</head>
	<body ng-controller="VcellController as vcell">
		<header>
			<h4 class="pull-left"><a href ng-click="vcell.back()">&lt;Back</a></h4>
			<vcell-loginbar class="pull-right"></vcell-loginbar>
		</header>
		
		<section>
  			<!--  Biomodel Tab's Content  -->
  			<vcell-biomodel ng-show="vcell.isSet(1)" ></vcell-biomodel>

  			<!--  Spec Tab's Content  -->
  			<div ng-show="vcell.isSet(2)">
  				<h3 class="text-center">Simulation Jobs</h3>
  			</div>
 
 
 			<ul class="nav nav-pills">
    			<li ng-class="{ active:vcell.isSet(1) }">
      				<a href ng-click="vcell.setTab(1)">Biomodels</a>
    			</li>
    			<li ng-class="{ active:vcell.isSet(2) }">
      				<a href ng-click="vcell.setTab(2)">Simulation Jobs</a>
    			</li>
 			 </ul>

 
  		</section>
		
		
	</body>
</html>
