---
openapi: 3.0.3
info:
  title: VCell API
  description: VCell API
  termsOfService: Your terms of service here
  contact:
    name: VCell API Support
    url: https://vcell.org
    email: vcell_support@uchc.com
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: 1.0.1
servers:
- url: https://vcell.cam.uchc.edu
paths:
  /api/v1/Simulation/{simID}/simulationStatus:
    get:
      tags:
      - Simulation Resource
      summary: Get the status of simulation running
      operationId: getSimulationStatus
      parameters:
      - name: simID
        in: path
        required: true
        schema:
          type: string
      - name: bioModelID
        in: query
        schema:
          type: string
      - name: mathModelID
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulationStatusPersistentRecord'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/Simulation/{simID}/startSimulation:
    post:
      tags:
      - Simulation Resource
      summary: Start a simulation.
      operationId: startSimulation
      parameters:
      - name: simID
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StatusMessage'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/Simulation/{simID}/stopSimulation:
    post:
      tags:
      - Simulation Resource
      summary: Stop a simulation.
      operationId: stopSimulation
      parameters:
      - name: simID
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StatusMessage'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/admin/usage:
    get:
      tags:
      - Admin Resource
      summary: Get usage summary
      operationId: getUsage
      responses:
        "200":
          description: The PDF report
          content:
            application/pdf:
              schema:
                format: binary
                type: string
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/bioModel:
    post:
      tags:
      - Bio Model Resource
      summary: Save's the given BioModel. Optional parameters of name and simulations
        to update due to math changes. Returns saved BioModel as VCML.
      operationId: saveBioModel
      parameters:
      - name: newName
        in: query
        description: Name to save new BioModel under. Leave blank if re-saving existing
          BioModel.
        required: false
        schema:
          type: string
        allowEmptyValue: true
      - name: simsRequiringUpdates
        in: query
        description: The name of simulations that will be prepared for future execution.
        required: false
        schema:
          type: array
          items:
            type: string
        allowEmptyValue: true
      requestBody:
        description: BioModelVCML which will be saved.
        content:
          application/xml:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/xml:
              schema:
                type: string
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/bioModel/summaries:
    get:
      tags:
      - Bio Model Resource
      summary: Return BioModel summaries.
      operationId: getBioModelSummaries
      parameters:
      - name: includePublicAndShared
        in: query
        description: Includes BioModel summaries that are public or shared with requester.
          Default is true.
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BioModelSummary'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/bioModel/{bioModelID}:
    get:
      tags:
      - Bio Model Resource
      summary: Get BioModel.
      operationId: getBioModel
      parameters:
      - name: bioModelID
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BioModel'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
    delete:
      tags:
      - Bio Model Resource
      summary: Delete the BioModel from VCell's database.
      operationId: deleteBioModel
      parameters:
      - name: bioModelID
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/bioModel/{bioModelID}/summary:
    get:
      tags:
      - Bio Model Resource
      summary: "All of the text based information about a BioModel (summary, version,\
        \ publication status, etc...), but not the actual BioModel itself."
      operationId: getBioModelSummary
      parameters:
      - name: bioModelID
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BioModelSummary'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/bioModel/{bioModelID}/vcml_download:
    get:
      tags:
      - Bio Model Resource
      summary: Get the BioModel in VCML format.
      operationId: getBioModelVCML
      parameters:
      - name: bioModelID
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            text/xml:
              schema:
                type: string
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/fieldData/IDs:
    get:
      tags:
      - Field Data Resource
      summary: "Get all of the ids used to identify, and retrieve field data."
      operationId: getAllIDs
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldDataReference'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/fieldData/advancedCreate:
    post:
      tags:
      - Field Data Resource
      summary: "Create Field Data with granular detail in one request.The following\
        \ files are accepted: .tif and .zip."
      operationId: advancedCreate
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  format: binary
                  type: string
                fileName:
                  type: string
                extent:
                  $ref: '#/components/schemas/Extent'
                iSize:
                  $ref: '#/components/schemas/ISize'
                channelNames:
                  type: array
                  items:
                    type: string
                times:
                  type: array
                  items:
                    format: double
                    type: number
                annotation:
                  type: string
                origin:
                  $ref: '#/components/schemas/Origin'
            encoding:
              extent:
                contentType: application/json
              annotation:
                contentType: text/plain
              fileName:
                contentType: text/plain
              times:
                contentType: text/plain
              file:
                contentType: application/octet-stream
              iSize:
                contentType: application/json
              channelNames:
                contentType: text/plain
              origin:
                contentType: application/json
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDataSavedResults'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/fieldData/analyzeFile:
    post:
      tags:
      - Field Data Resource
      summary: "Analyze uploaded image file (Tiff, Zip, and Non-GPL BioFormats) and\
        \ return field data. Color mapped images not supported (the colors in those\
        \ images will be interpreted as separate channels). Filenames must be lowercase\
        \ alphanumeric, and can contain underscores."
      operationId: analyzeFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  format: binary
                  type: string
                fileName:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldData'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/fieldData/copyModelsFieldData:
    post:
      tags:
      - Field Data Resource
      summary: "Copy all existing field data from a BioModel/MathModel that you have\
        \ access to, but don't own."
      operationId: copyModelsFieldData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceModel'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/ExternalDataIdentifier'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/fieldData/createFromFile:
    post:
      tags:
      - Field Data Resource
      summary: "Submit a .zip or .tif file that converts into field data, with all\
        \ defaults derived from the file submitted."
      operationId: createFromFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  format: binary
                  type: string
                fieldDataName:
                  type: string
            encoding:
              file:
                contentType: application/octet-stream
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDataSavedResults'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/fieldData/createFromSimulation:
    post:
      tags:
      - Field Data Resource
      summary: Create new field data from existing simulation results.
      operationId: createFromSimulation
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                simKeyReference:
                  type: string
                jobIndex:
                  format: int32
                  type: integer
                newFieldDataName:
                  type: string
      responses:
        "201":
          description: Created
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/fieldData/delete/{fieldDataID}:
    delete:
      tags:
      - Field Data Resource
      summary: Delete the selected field data.
      operationId: delete
      parameters:
      - name: fieldDataID
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/fieldData/save:
    post:
      tags:
      - Field Data Resource
      summary: "Take the generated field data, and save it to the server. User may\
        \ adjust the analyzed file before uploading to edit defaults."
      operationId: save
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldData'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDataSavedResults'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/fieldData/shape/{fieldDataID}:
    get:
      tags:
      - Field Data Resource
      summary: "Get the shape of the field data. That is it's size, origin, extent,\
        \ times, and data identifiers."
      operationId: getShapeFromID
      parameters:
      - name: fieldDataID
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDataShape'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/geometry:
    post:
      tags:
      - Geometry Resource
      description: Save's VCML with <Geometry> as the root element.
      operationId: saveGeometry
      parameters:
      - name: newName
        in: query
        description: Name to save new Geometry under. Leave blank if re-saving existing
          Geometry.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/xml:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/xml:
              schema:
                type: string
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/geometry/summaries:
    get:
      tags:
      - Geometry Resource
      description: Return Geometry summaries.
      operationId: getGeometrySummaries
      parameters:
      - name: includePublicAndShared
        in: query
        description: Include Geometry summaries that are public and shared with the
          requester. Default is true.
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeometrySummary'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/geometry/summary/{id}:
    get:
      tags:
      - Geometry Resource
      description: "All of the text based information about a Geometry (dimensions,\
        \ extent, origin, etc...), but not the actual Geometry itself."
      operationId: getGeometrySummary
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeometrySummary'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/geometry/{id}:
    get:
      tags:
      - Geometry Resource
      description: Returns <Geometry> as root element in VCML format.
      operationId: getGeometryVCML
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/xml:
              schema:
                type: string
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
    delete:
      tags:
      - Geometry Resource
      description: Remove specific Geometry.
      operationId: deleteGeometry
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/helloworld:
    get:
      tags:
      - Hello World
      summary: Get hello world message.
      operationId: getHelloWorld
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HelloWorldMessage'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/image:
    post:
      tags:
      - VC Image Resource
      description: Save the VCML representation of an image.
      operationId: saveImageVCML
      parameters:
      - name: name
        in: query
        description: Name to save new ImageVCML under. Leave blank if re-saving existing
          ImageVCML.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/image/summaries:
    get:
      tags:
      - VC Image Resource
      description: Return Image summaries.
      operationId: getImageSummaries
      parameters:
      - name: includePublicAndShared
        in: query
        description: Include Image summaries that are public and shared with the requester.
          Default is true.
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VCImageSummary'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/image/summary/{id}:
    get:
      tags:
      - VC Image Resource
      description: "All of the miscellaneous information about an Image (Extent, ISize,\
        \ preview, etc...), but not the actual Image itself."
      operationId: getImageSummary
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCImageSummary'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/image/{id}:
    get:
      tags:
      - VC Image Resource
      description: Get specific image VCML.
      operationId: getImageVCML
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
    delete:
      tags:
      - VC Image Resource
      description: Remove specific image VCML.
      operationId: deleteImageVCML
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/mathModel:
    post:
      tags:
      - Math Model Resource
      operationId: saveMathModel
      parameters:
      - name: newName
        in: query
        description: Name to save new MathModel under. Leave blank if re-saving existing
          MathModel.
        required: false
        schema:
          type: string
      - name: simNames
        in: query
        description: The name of simulations that will be prepared for future execution.
        required: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/xml:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/xml:
              schema:
                type: string
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/mathModel/summaries:
    get:
      tags:
      - Math Model Resource
      description: Return MathModel summaries.
      operationId: getSummaries
      parameters:
      - name: includePublicAndShared
        in: query
        description: Include MathModel summaries that are public and shared with the
          requester. Default is true.
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MathModelSummary'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/mathModel/summary/{id}:
    get:
      tags:
      - Math Model Resource
      description: "All of the text based information about a MathModel (summary,\
        \ version, publication status, etc...), but not the actual MathModel itself."
      operationId: getSummary
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MathModelSummary'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/mathModel/{id}:
    get:
      tags:
      - Math Model Resource
      description: Returns MathModel in VCML format.
      operationId: getVCML
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/xml:
              schema:
                type: string
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
    delete:
      tags:
      - Math Model Resource
      description: Remove specific Math Model.
      operationId: deleteMathModel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/publications:
    get:
      tags:
      - Publication Resource
      summary: Get all publications
      operationId: getPublications
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Publication'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
    put:
      tags:
      - Publication Resource
      summary: Update publication
      operationId: updatePublication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Publication'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publication'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
    post:
      tags:
      - Publication Resource
      summary: Create publication
      operationId: createPublication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Publication'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                format: int64
                type: integer
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/publications/{id}:
    get:
      tags:
      - Publication Resource
      summary: Get publication by ID
      operationId: getPublicationById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publication'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
    delete:
      tags:
      - Publication Resource
      summary: Delete publication
      operationId: deletePublication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          description: No Content
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/solver/getFVSolverInput:
    post:
      tags:
      - Solver Resource
      summary: Retrieve finite volume input from SBML spatial model.
      operationId: getFVSolverInputFromSBML
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                sbmlFile:
                  format: binary
                  type: string
                duration:
                  format: double
                  default: 5.0
                  type: number
                output_time_step:
                  format: double
                  default: 0.1
                  type: number
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/solver/getFVSolverInputFromVCML:
    post:
      tags:
      - Solver Resource
      summary: Retrieve finite volume input from SBML spatial model.
      operationId: getFVSolverInputFromVCML
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                vcmlFile:
                  format: binary
                  type: string
                simulation_name:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
        "422":
          description: Unprocessable content submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/users/bearerToken:
    post:
      tags:
      - Users Resource
      summary: Get token for legacy API
      operationId: getLegacyApiToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccesTokenRepresentationRecord'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/users/forgotLegacyPassword:
    post:
      tags:
      - Users Resource
      summary: "The end user has forgotten the legacy password they used for VCell,\
        \ so they will be emailed it."
      operationId: forgotLegacyPassword
      parameters:
      - name: userID
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Legacy password sent in email
        "401":
          description: Need to login to Auth0
        "403":
          description: Not Allowed
        "500":
          description: Internal Error
      security:
      - openId:
        - user
  /api/v1/users/guestBearerToken:
    post:
      tags:
      - Users Resource
      summary: Method to get legacy tokens for guest users
      operationId: getGuestLegacyApiToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccesTokenRepresentationRecord'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/users/mapUser:
    post:
      tags:
      - Users Resource
      summary: map vcell user
      operationId: mapUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginInfoForMapping'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/users/mappedUser:
    get:
      tags:
      - Users Resource
      summary: Get mapped VCell identity
      operationId: getMappedUser
      responses:
        "200":
          description: "Successful, returning the identity"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentityJSONSafe'
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
        "409":
          description: Conflict with server state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/users/me:
    get:
      tags:
      - Users Resource
      summary: Get current user
      operationId: getMe
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
  /api/v1/users/newUser:
    post:
      tags:
      - Users Resource
      summary: create vcell user
      operationId: mapNewUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistrationInfo'
      responses:
        "200":
          description: "Successful, returning the identity"
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
        "409":
          description: "VCell Identity not mapped, userid already exists"
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/users/processMagicLink:
    get:
      tags:
      - Users Resource
      summary: Process the magic link and map the user
      operationId: processMagicLink
      parameters:
      - name: magic
        in: query
        schema:
          type: string
      responses:
        "200":
          description: User mapped successfully
        "400":
          description: Invalid or expired magic link
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
  /api/v1/users/requestRecoveryEmail:
    post:
      tags:
      - Users Resource
      summary: request a recovery email to link a VCell account.
      operationId: requestRecoveryEmail
      parameters:
      - name: email
        in: query
        schema:
          type: string
      - name: userID
        in: query
        schema:
          type: string
      responses:
        "200":
          description: magic link sent in email if appropriate
        "400":
          description: unable to process request
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
  /api/v1/users/unmapUser/{userName}:
    put:
      tags:
      - Users Resource
      summary: remove vcell identity mapping
      operationId: unmapUser
      parameters:
      - name: userName
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
        "401":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "403":
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
        "500":
          description: Data Access Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
      security:
      - openId:
        - user
components:
  schemas:
    AccesTokenRepresentationRecord:
      type: object
      properties:
        token:
          type: string
        creationDateSeconds:
          format: int64
          type: integer
        expireDateSeconds:
          format: int64
          type: integer
        userId:
          type: string
        userKey:
          type: string
    Application:
      type: object
    ApplicationInfo:
      type: object
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/MathType'
        dimensions:
          format: int32
          type: integer
        geometryName:
          type: string
    BatchSystemType:
      enum:
      - PBS
      - SGE
      - SLURM
      type: string
    BioModel:
      type: object
      properties:
        bmKey:
          type: string
        name:
          type: string
        privacy:
          format: int32
          type: integer
        groupUsers:
          type: array
          items:
            type: string
        savedDate:
          format: int64
          type: integer
        annot:
          type: string
        branchID:
          type: string
        physModelKey:
          type: string
        ownerName:
          type: string
        ownerKey:
          type: string
        simulationKeyList:
          type: array
          items:
            $ref: '#/components/schemas/KeyValue'
        applications:
          type: array
          items:
            $ref: '#/components/schemas/Application'
    BioModelChildSummary:
      type: object
      properties:
        scNames:
          type: array
          items:
            type: string
        scAnnots:
          type: array
          items:
            type: string
        geoNames:
          type: array
          items:
            type: string
        geoDims:
          type: array
          items:
            format: int32
            type: integer
        appTypes:
          type: array
          items:
            $ref: '#/components/schemas/MathType'
        simNames:
          type: array
          items:
            type: array
            items:
              type: string
        simAnnots:
          type: array
          items:
            type: array
            items:
              type: string
        geometryDimensions:
          type: array
          items:
            format: int32
            type: integer
        geometryNames:
          type: array
          items:
            type: string
        simulationContextAnnotations:
          type: array
          items:
            type: string
        simulationContextNames:
          type: array
          items:
            type: string
        applicationInfo:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationInfo'
    BioModelSummary:
      type: object
      properties:
        version:
          $ref: '#/components/schemas/Version'
        summary:
          $ref: '#/components/schemas/BioModelChildSummary'
        publicationInformation:
          type: array
          items:
            $ref: '#/components/schemas/PublicationInfo'
        vCellSoftwareVersion:
          $ref: '#/components/schemas/VCellSoftwareVersion'
    BiomodelRef:
      type: object
      properties:
        bmKey:
          format: int64
          type: integer
        name:
          type: string
        ownerName:
          type: string
        ownerKey:
          format: int64
          type: integer
        versionFlag:
          format: int32
          type: integer
    DataIdentifier:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        variableType:
          $ref: '#/components/schemas/VariableType'
        domain:
          $ref: '#/components/schemas/Domain'
        bFunction:
          type: boolean
        function:
          type: boolean
        visible:
          type: boolean
    Date:
      format: date
      type: string
      example: 2022-03-10
    DetailedState:
      enum:
      - UNKNOWN
      - DATAMOVEREVENT_MOVED
      - WORKEREVENT_WORKERALIVE
      - JOB_WAITING
      - JOB_QUEUED
      - JOB_QUEUED_RETRY
      - JOB_DISPATCHED
      - JOB_ACCEPTED
      - SOLVER_READY
      - SOLVER_STARTING_INIT
      - SOLVEREVENT_STARTING_PROC_GEOM
      - SOLVEREVENT_STARTING_RESAMPLE_FD
      - SOLVER_RUNNING_INIT
      - SOLVER_RUNNING_INIT_INPUT_FILE
      - SOLVER_RUNNING_INIT_CODEGEN
      - SOLVER_RUNNING_INIT_COMPILING
      - SOLVER_RUNNING_INIT_COMPILECMD
      - SOLVER_RUNNING_INIT_COMPILE_OK
      - SOLVER_RUNNING_INIT_LINKING
      - SOLVER_RUNNING_INIT_LINKCMD
      - SOLVER_RUNNING_INIT_LINK_OK
      - SOLVER_RUNNING_INIT_COMPILELINK_OK
      - SOLVEREVENT_STARTING_INIT
      - SOLVEREVENT_STARTING_CODEGEN
      - SOLVEREVENT_STARTING_COMPILELINK
      - SOLVEREVENT_STARTING_INPUT_FILE
      - SOLVEREVENT_STARTING
      - SOLVEREVENT_STARTING_SUBMITTING
      - SOLVEREVENT_STARTING_SUBMITTED
      - WORKEREVENT_STARTING
      - SOLVEREVENT_RUNNING_START
      - SOLVER_RUNNING_START
      - JOB_RUNNING_UNKNOWN
      - SOLVEREVENT_PRINTED
      - WORKEREVENT_DATA
      - JOB_RUNNING
      - SOLVEREVENT_PROGRESS
      - WORKEREVENT_PROGRESS
      - WORKEREVENT_WORKEREXIT_NORMAL
      - WORKEREVENT_WORKEREXIT_ERROR
      - SOLVEREVENT_FINISHED
      - SOLVER_FINISHED
      - WORKEREVENT_COMPLETED
      - JOB_COMPLETED
      - SOLVER_STOPPED
      - JOB_STOPPED
      - JOB_FAILED_UNKNOWN
      - SOLVER_ABORTED
      - WORKEREVENT_FAILURE
      - JOB_FAILED
      type: string
    Domain:
      type: object
      properties:
        name:
          type: string
    Extent:
      type: object
      properties:
        x:
          format: double
          type: number
          xml:
            attribute: true
        "y":
          format: double
          type: number
          xml:
            attribute: true
        z:
          format: double
          type: number
          xml:
            attribute: true
    ExternalDataIdentifier:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/KeyValue'
        owner:
          $ref: '#/components/schemas/User'
        name:
          type: string
        jobIndex:
          format: int32
          type: integer
        simulationKey:
          $ref: '#/components/schemas/KeyValue'
        parameterScanType:
          type: boolean
        dataKey:
          $ref: '#/components/schemas/KeyValue'
    FieldData:
      type: object
      properties:
        shortSpecData:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: integer
        doubleSpecData:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                format: double
                type: number
        varNames:
          type: array
          items:
            type: string
        times:
          type: array
          items:
            format: double
            type: number
        origin:
          $ref: '#/components/schemas/Origin'
        extent:
          $ref: '#/components/schemas/Extent'
        isize:
          $ref: '#/components/schemas/ISize'
        annotation:
          type: string
        name:
          type: string
    FieldDataReference:
      type: object
      properties:
        fieldDataID:
          $ref: '#/components/schemas/ExternalDataIdentifier'
        annotation:
          type: string
        simulationsReferencingThisID:
          type: array
          items:
            $ref: '#/components/schemas/KeyValue'
    FieldDataSavedResults:
      type: object
      properties:
        fieldDataName:
          type: string
        fieldDataKey:
          type: string
    FieldDataShape:
      type: object
      properties:
        extent:
          $ref: '#/components/schemas/Extent'
        origin:
          $ref: '#/components/schemas/Origin'
        isize:
          $ref: '#/components/schemas/ISize'
        dataIdentifier:
          type: array
          items:
            $ref: '#/components/schemas/DataIdentifier'
        times:
          type: array
          items:
            format: double
            type: number
    GIFImage:
      type: object
      properties:
        gifEncodedData:
          format: binary
          type: string
        size:
          $ref: '#/components/schemas/ISize'
    GeometrySummary:
      type: object
      properties:
        dimension:
          format: int32
          type: integer
        origin:
          $ref: '#/components/schemas/Origin'
        extent:
          $ref: '#/components/schemas/Extent'
        imageRef:
          $ref: '#/components/schemas/KeyValue'
        version:
          $ref: '#/components/schemas/Version'
        softwareVersion:
          $ref: '#/components/schemas/VCellSoftwareVersion'
    GroupAccess:
      required:
      - groupid
      type: object
      properties:
        groupid:
          type: number
        description:
          type: string
      discriminator:
        propertyName: type
        mapping:
          GroupAccessNone: '#/components/schemas/GroupAccessNone'
          GroupAccessSome: '#/components/schemas/GroupAccessSome'
          GroupAccessAll: '#/components/schemas/GroupAccessAll'
    GroupAccessAll:
      required:
      - type
      type: object
      allOf:
      - $ref: '#/components/schemas/GroupAccess'
      properties:
        type:
          default: GroupAccessAll
          type: string
        description:
          type: string
    GroupAccessNone:
      required:
      - type
      type: object
      allOf:
      - $ref: '#/components/schemas/GroupAccess'
      properties:
        type:
          default: GroupAccessNone
          type: string
        description:
          type: string
    GroupAccessSome:
      required:
      - type
      type: object
      allOf:
      - $ref: '#/components/schemas/GroupAccess'
      properties:
        type:
          default: GroupAccessSome
          type: string
        hash:
          type: number
        groupMembers:
          type: array
          items:
            $ref: '#/components/schemas/User'
        hiddenMembers:
          type: array
          items:
            type: boolean
        description:
          type: string
        hiddenGroupMembers:
          type: array
          items:
            $ref: '#/components/schemas/User'
        normalGroupMembers:
          type: array
          items:
            $ref: '#/components/schemas/User'
    HelloWorldMessage:
      type: object
      properties:
        message:
          type: string
    HtcJobID:
      type: object
      properties:
        jobNumber:
          format: int64
          type: integer
        server:
          type: string
        batchSystemType:
          $ref: '#/components/schemas/BatchSystemType'
    ISize:
      type: object
      properties:
        x:
          format: int32
          type: integer
        "y":
          format: int32
          type: integer
        z:
          format: int32
          type: integer
    Identity:
      type: object
      properties:
        principal_name:
          type: string
        roles:
          type: array
          items:
            type: string
        attributes:
          type: array
          items:
            type: string
        credentials:
          type: array
          items:
            type: string
    Instant:
      format: date-time
      type: string
      example: 2022-03-10T16:15:50Z
    KeyValue:
      type: string
    MathModelChildSummary:
      type: object
      properties:
        modelType:
          $ref: '#/components/schemas/MathType'
        geometryDimension:
          format: int32
          type: integer
        geometryName:
          type: string
        simulationAnnotations:
          type: array
          items:
            type: string
        simulationNames:
          type: array
          items:
            type: string
    MathModelSummary:
      type: object
      properties:
        version:
          $ref: '#/components/schemas/Version'
        keyValue:
          $ref: '#/components/schemas/KeyValue'
        modelInfo:
          $ref: '#/components/schemas/MathModelChildSummary'
        softwareVersion:
          $ref: '#/components/schemas/VCellSoftwareVersion'
        publicationInfos:
          type: array
          items:
            $ref: '#/components/schemas/PublicationInfo'
        annotatedFunctions:
          type: string
    MathType:
      enum:
      - RuleBased
      - Stochastic
      - Deterministic
      - SpringSaLaD
      - Unknown
      type: string
    MathmodelRef:
      type: object
      properties:
        mmKey:
          format: int64
          type: integer
        name:
          type: string
        ownerName:
          type: string
        ownerKey:
          format: int64
          type: integer
        versionFlag:
          format: int32
          type: integer
    ModelType:
      enum:
      - BIOMODEL
      - MATHMODEL
      type: string
    Origin:
      type: object
      properties:
        x:
          format: double
          type: number
          xml:
            attribute: true
        "y":
          format: double
          type: number
          xml:
            attribute: true
        z:
          format: double
          type: number
          xml:
            attribute: true
    Publication:
      type: object
      properties:
        pubKey:
          format: int64
          type: integer
        title:
          type: string
        authors:
          type: array
          items:
            type: string
        year:
          format: int32
          type: integer
        citation:
          type: string
        pubmedid:
          type: string
        doi:
          type: string
        endnoteid:
          format: int32
          type: integer
        url:
          type: string
        wittid:
          format: int32
          type: integer
        biomodelRefs:
          type: array
          items:
            $ref: '#/components/schemas/BiomodelRef'
        mathmodelRefs:
          type: array
          items:
            $ref: '#/components/schemas/MathmodelRef'
        date:
          $ref: '#/components/schemas/Date'
    PublicationInfo:
      type: object
      properties:
        publicationKey:
          $ref: '#/components/schemas/KeyValue'
        versionKey:
          $ref: '#/components/schemas/KeyValue'
        title:
          type: string
        authors:
          type: array
          items:
            type: string
        citation:
          type: string
        pubmedid:
          type: string
        doi:
          type: string
        url:
          type: string
        pubdate:
          $ref: '#/components/schemas/Date'
        vcDocumentType:
          $ref: '#/components/schemas/VCDocumentType'
        user:
          $ref: '#/components/schemas/User'
        theHashCode:
          format: int32
          type: integer
    SchedulerStatus:
      enum:
      - WAITING
      - QUEUED
      - DISPATCHED
      - RUNNING
      - COMPLETED
      - STOPPED
      - FAILED
      type: string
    SimulationExecutionStatusRecord:
      type: object
      properties:
        fieldStartDate:
          $ref: '#/components/schemas/Instant'
        fieldLatestUpdateDate:
          $ref: '#/components/schemas/Instant'
        fieldEndDate:
          $ref: '#/components/schemas/Instant'
        fieldComputeHost:
          type: string
        fieldHasData:
          type: boolean
        fieldHtcJobID:
          $ref: '#/components/schemas/HtcJobID'
    SimulationJobStatusRecord:
      type: object
      properties:
        fieldTimeDataStamp:
          $ref: '#/components/schemas/Instant'
        fieldVCSimID:
          $ref: '#/components/schemas/VCSimulationIdentifier'
        fieldSubmitDate:
          $ref: '#/components/schemas/Instant'
        fieldSchedulerStatus:
          $ref: '#/components/schemas/SchedulerStatus'
        fieldSimulationMessage:
          $ref: '#/components/schemas/SimulationMessage'
        fieldTaskID:
          format: int32
          type: integer
        fieldServerID:
          type: string
        fieldJobIndex:
          format: int32
          type: integer
        fieldSimulationExecutionStatus:
          $ref: '#/components/schemas/SimulationExecutionStatusRecord'
        fieldSimulationQueueEntryStatus:
          $ref: '#/components/schemas/SimulationQueueEntryStatusRecord'
    SimulationMessage:
      type: object
      properties:
        detailedState:
          $ref: '#/components/schemas/DetailedState'
        message:
          type: string
        htcJobId:
          $ref: '#/components/schemas/HtcJobID'
        displayMessage:
          type: string
    SimulationQueueEntryStatusRecord:
      type: object
      properties:
        fieldQueuePriority:
          format: int32
          type: integer
        fieldQueueDate:
          $ref: '#/components/schemas/Instant'
        fieldQueueID:
          $ref: '#/components/schemas/SimulationQueueID'
    SimulationQueueID:
      enum:
      - QUEUE_ID_WAITING
      - QUEUE_ID_SIMULATIONJOB
      - QUEUE_ID_NULL
      type: string
    SimulationStatusPersistentRecord:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status'
        details:
          type: string
        hasData:
          type: boolean
    SourceModel:
      type: object
      properties:
        modelID:
          type: string
        modelType:
          $ref: '#/components/schemas/ModelType'
    Status:
      enum:
      - UNKNOWN
      - NEVER_RAN
      - START_REQUESTED
      - DISPATCHED
      - WAITING
      - QUEUED
      - RUNNING
      - COMPLETED
      - FAILED
      - STOP_REQUESTED
      - STOPPED
      - NOT_SAVED
      type: string
    StatusMessage:
      type: object
      properties:
        jobStatus:
          $ref: '#/components/schemas/SimulationJobStatusRecord'
        userName:
          type: string
        progress:
          format: double
          type: number
        timepoint:
          format: double
          type: number
    User:
      type: object
      properties:
        userName:
          type: string
        key:
          $ref: '#/components/schemas/KeyValue'
    UserIdentityJSONSafe:
      type: object
      properties:
        mapped:
          type: boolean
        userName:
          type: string
        id:
          type: number
        subject:
          type: string
        insertDate:
          type: string
    UserLoginInfoForMapping:
      type: object
      properties:
        userID:
          type: string
        password:
          type: string
    UserRegistrationInfo:
      type: object
      properties:
        userID:
          type: string
        title:
          type: string
        organization:
          type: string
        country:
          type: string
        emailNotification:
          type: boolean
    VCDocumentType:
      enum:
      - BIOMODEL_DOC
      - MATHMODEL_DOC
      - GEOMETRY_DOC
      - EXTERNALFILE_DOC
      type: string
    VCImageSummary:
      type: object
      properties:
        size:
          $ref: '#/components/schemas/ISize'
        extent:
          $ref: '#/components/schemas/Extent'
        version:
          $ref: '#/components/schemas/Version'
        preview:
          $ref: '#/components/schemas/GIFImage'
        softwareVersion:
          $ref: '#/components/schemas/VCellSoftwareVersion'
    VCSimulationIdentifier:
      type: object
      properties:
        simulationKey:
          $ref: '#/components/schemas/KeyValue'
        owner:
          $ref: '#/components/schemas/User'
        id:
          type: string
    VCellHTTPError:
      type: object
      properties:
        exceptionType:
          type: string
        message:
          type: string
    VCellSite:
      enum:
      - alpha
      - beta
      - rel
      - other
      - unknown
      type: string
    VCellSoftwareVersion:
      type: object
      properties:
        softwareVersionString:
          type: string
        vcellSite:
          $ref: '#/components/schemas/VCellSite'
        buildNumber:
          type: string
        versionNumber:
          type: string
        majorVersion:
          format: int32
          type: integer
        minorVersion:
          format: int32
          type: integer
        patchVersion:
          format: int32
          type: integer
        buildInt:
          format: int32
          type: integer
        description:
          type: string
    VariableDomain:
      enum:
      - VARIABLEDOMAIN_POSTPROCESSING
      - VARIABLEDOMAIN_UNKNOWN
      - VARIABLEDOMAIN_VOLUME
      - VARIABLEDOMAIN_MEMBRANE
      - VARIABLEDOMAIN_CONTOUR
      - VARIABLEDOMAIN_NONSPATIAL
      - VARIABLEDOMAIN_POINT
      type: string
    VariableType:
      type: object
      properties:
        type:
          format: int32
          type: integer
        variableDomain:
          $ref: '#/components/schemas/VariableDomain'
        name:
          type: string
        units:
          type: string
        label:
          type: string
        legacyWarn:
          type: boolean
        defaultLabel:
          type: string
        defaultUnits:
          type: string
        typeName:
          type: string
    Version:
      type: object
      properties:
        versionKey:
          $ref: '#/components/schemas/KeyValue'
        annot:
          type: string
        branchID:
          type: number
        branchPointRefKey:
          $ref: '#/components/schemas/KeyValue'
        date:
          format: date-time
          type: string
          example: 2022-03-10
        flag:
          $ref: '#/components/schemas/VersionFlag'
        groupAccess:
          $ref: '#/components/schemas/GroupAccess'
        name:
          type: string
        owner:
          $ref: '#/components/schemas/User'
    VersionFlag:
      type: object
      properties:
        versionFlag:
          format: int32
          type: integer
        intValue:
          format: int32
          type: integer
        archived:
          type: boolean
        current:
          type: boolean
        published:
          type: boolean
  securitySchemes:
    openId:
      type: openIdConnect
      description: Authentication
      openIdConnectUrl: https://dev-dzhx7i2db3x3kkvq.us.auth0.com/.well-known/openid-configuration
