/* CSS Document */
body {
 background-color: #FFFFFF;
 color: #000000;
 margin: 0;
 SCROLLBAR-3DLIGHT-COLOR: #99ccff; /* scrollbar colour change */
 SCROLLBAR-ARROW-COLOR: #333333;
 SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
 SCROLLBAR-BASE-COLOR: #ffffff;
}

ol, ul {
 margin-left: 50px;
 line-height: 135%;
}

a:link,a:visited {
 color: #336699;
 text-decoration: none;
}

a:active {
 color: #336699;
 text-decoration: none;
}

a:hover {
 color: #ff0000;
 text-decoration: none;
}

/* Table of contents */
#catalog {
 width: 165px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 9pt;
 margin-left: 11px;
 margin-right: 11px;
}

#subcatalog {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 8.5pt;
 margin-left: 13px;
 margin-top: 5px;
 padding-left: 5px;
 border-left: solid 1px #99ccff;
}

#toplink {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 7.5pt;
 margin-top: 20px;
 margin-bottom: 20px;
 text-align: right;
 font-weight: bold;
 padding-right: 10px;
 border-right: solid 5px #99ccff;
}

/* Main header on top of page */
.subHeader {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 16px;
 color: #003399;
 font-weight: bold;
 padding: 3px 3px 3px 3px;
 background-color: #e0e0e0;
}

/* Sub headers anywhere in the page */
.subTitle {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: bold;
 color: #003399;
 margin-left: -10px;
}

/* Main content */
.content {
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size: 10pt;
 padding-left: 20px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-right: 20px;
 text-align: justify;
}

.content img {
 padding-bottom: 4px;
}

/*Caption for figures */
.caption {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 7.5pt;
 font-weight: bold;
 margin-top: 5px;
 margin-bottom: 5px;
 line-height: 140%;
}

.infotable {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 8pt;
 padding: 5px 5px 5px 5px;
}