.form-table {
  padding: 20px; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
}

.submit-button {

}
mat-list {
  padding: 3px; /* Adjust as needed */
}

mat-list-item {
  margin-left: 10px; /* Adjust as needed */
}

.form-field-horizontal-spacing {
  margin-right: 16px; /* Adjust the space as needed */
}
