<div class="container mt-5" *ngIf="auth.user$ | async as user">
  <div *ngIf="vcellUserId; else setIdentity">
    <h5>your VCell username is &quot;{{ vcellUserId }}&quot;</h5>
    <button mat-raised-button color="warn" (click)="clearMappedUser()">
      <mat-icon>delete</mat-icon>
      unmap &quot;{{ vcellUserId }}&quot;
    </button>. <b>(This is an advanced feature, there is no undo!)</b>
  </div>


  <ng-template #setIdentity>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <!-- Form for mapping to an existing VCell user -->
    <form class="form-table" (ngSubmit)="setMappedUser()">
      <mat-card>
        <mat-card-title><em><strong>If you have an old vcell account,</strong></em> enter your old VCell login to claim your username and stored models</mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="fill" class="form-field-horizontal-spacing">
            <mat-label>existing username *</mat-label>
            <input matInput type="text" id="userid" name="userid" [(ngModel)]="mapUser.userID">
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field-horizontal-spacing">
            <mat-label>password *</mat-label>
            <input matInput type="password" id="password" name="password" [(ngModel)]="mapUser.password">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>

    <!-- Form for creating a new VCell user -->
    <form class="form-table" (ngSubmit)="mapNewUser()">
      <mat-card>
        <mat-card-title><em><strong>If you are new to VCell,</strong></em> create a new username (including your institution helps us report usage).</mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="fill" class="form-field-horizontal-spacing">
            <mat-label>new username *</mat-label>
            <input matInput type="text" id="newUserid" name="newUserid" [(ngModel)]="newUser.userID">
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field-horizontal-spacing">
            <mat-label>Institution (optional)</mat-label>
            <input matInput type="text" id="organization" name="organization" [(ngModel)]="newUser.organization">
          </mat-form-field>
          <mat-checkbox id="email_notification" name="email notification" [(ngModel)]="newUser.emailNotification">Allow email notifications to {{ user.email }}</mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </ng-template>

<!--  Once mapped, you can use your VCell SSO account s://auth0.com" target="_blank">Auth0.com</a> to provide a secure logon for all Virtual Cell platforms.-->
<!--  <ul>-->
<!--    <li>Java Desktop Application - the familiar VCell user interface <a href="https://vcell.org/run-vcell-software" target="_blank">(download installer)</a></li>-->
<!--    <li>this WebApp - user account management and future portal for VCell web content</li>-->
<!--    <li>Python/Jupyter notebook access to VCell APIs <b>(coming in 2025)</b></li>-->
<!--  </ul>-->
<!--  <h5>VCell account userid</h5>-->
<!--  In order to provide a smooth transition for existing VCell users Browser based logon is mapped to Map to legacy VCell userid-->
<!--  <h4>VCell userid</h4>-->


</div>
