openapi: 3.0.3
info:
  contact:
    email: vcell_support@uchc.com
    name: VCell API Support
    url: https://vcell.org
  description: VCell API
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  termsOfService: Your terms of service here
  title: VCell API
  version: 1.0.1
servers:
- url: https://vcell.cam.uchc.edu
paths:
  /api/v1/Simulation/{simID}/simulationStatus:
    get:
      operationId: getSimulationStatus
      parameters:
      - explode: false
        in: path
        name: simID
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: bioModelID
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: mathModelID
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulationStatusPersistentRecord'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Get the status of simulation running
      tags:
      - Simulation Resource
      x-accepts: application/json
  /api/v1/Simulation/{simID}/startSimulation:
    post:
      operationId: startSimulation
      parameters:
      - explode: false
        in: path
        name: simID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StatusMessage'
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Start a simulation.
      tags:
      - Simulation Resource
      x-accepts: application/json
  /api/v1/Simulation/{simID}/stopSimulation:
    post:
      operationId: stopSimulation
      parameters:
      - explode: false
        in: path
        name: simID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StatusMessage'
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Stop a simulation.
      tags:
      - Simulation Resource
      x-accepts: application/json
  /api/v1/admin/usage:
    get:
      operationId: getUsage
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: The PDF report
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Get usage summary
      tags:
      - Admin Resource
      x-accepts: application/json
  /api/v1/bioModel:
    post:
      operationId: saveBioModel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveBioModel'
      responses:
        "200":
          content:
            application/xml:
              schema:
                type: string
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          description: Not Allowed
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Unprocessable content submitted
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Save's the given BioModel. Optional parameters of name and simulations
        to update due to math changes. Returns saved BioModel as VCML.
      tags:
      - Bio Model Resource
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/bioModel/summaries:
    get:
      operationId: getBioModelSummaries
      parameters:
      - description: Includes BioModel summaries that are public or shared with requester.
        explode: true
        in: query
        name: includePublicAndShared
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BioModelSummary'
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      summary: Return BioModel summaries.
      tags:
      - Bio Model Resource
      x-accepts: application/json
  /api/v1/bioModel/{bioModelID}:
    delete:
      operationId: deleteBioModel
      parameters:
      - explode: false
        in: path
        name: bioModelID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      summary: Delete the BioModel from VCell's database.
      tags:
      - Bio Model Resource
      x-accepts: application/json
    get:
      operationId: getBioModel
      parameters:
      - explode: false
        in: path
        name: bioModelID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BioModel'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      summary: Get BioModel.
      tags:
      - Bio Model Resource
      x-accepts: application/json
  /api/v1/bioModel/{bioModelID}/summary:
    get:
      operationId: getBioModelSummary
      parameters:
      - explode: false
        in: path
        name: bioModelID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BioModelSummary'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      summary: "All of the text based information about a BioModel (summary, version,\
        \ publication status, etc...), but not the actual BioModel itself."
      tags:
      - Bio Model Resource
      x-accepts: application/json
  /api/v1/bioModel/{bioModelID}/vcml_download:
    get:
      operationId: getBioModelVCML
      parameters:
      - explode: false
        in: path
        name: bioModelID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/xml:
              schema:
                type: string
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      summary: Get the BioModel in VCML format.
      tags:
      - Bio Model Resource
      x-accepts: application/json
  /api/v1/fieldData/IDs:
    get:
      operationId: getAllIDs
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FieldDataReference'
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: "Get all of the ids used to identify, and retrieve field data."
      tags:
      - Field Data Resource
      x-accepts: application/json
  /api/v1/fieldData/advancedCreate:
    post:
      operationId: advancedCreate
      requestBody:
        content:
          multipart/form-data:
            encoding:
              extent:
                contentType: application/json
                style: form
              annotation:
                contentType: text/plain
                style: form
              fileName:
                contentType: text/plain
                style: form
              times:
                contentType: text/plain
                style: form
              file:
                contentType: application/octet-stream
                style: form
              iSize:
                contentType: application/json
                style: form
              channelNames:
                contentType: text/plain
                style: form
              origin:
                contentType: application/json
                style: form
            schema:
              $ref: '#/components/schemas/advancedCreate_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDataSavedResults'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          description: Not Allowed
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Unprocessable content submitted
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: "Create Field Data with granular detail in one request.The following\
        \ files are accepted: .tif and .zip."
      tags:
      - Field Data Resource
      x-content-type: multipart/form-data
      x-accepts: application/json
  /api/v1/fieldData/analyzeFile:
    post:
      operationId: analyzeFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/analyzeFile_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldData'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          description: Not Allowed
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Unprocessable content submitted
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: "Analyze uploaded image file (Tiff, Zip, and Non-GPL BioFormats) and\
        \ return field data. Color mapped images not supported (the colors in those\
        \ images will be interpreted as separate channels). Filenames must be lowercase\
        \ alphanumeric, and can contain underscores."
      tags:
      - Field Data Resource
      x-content-type: multipart/form-data
      x-accepts: application/json
  /api/v1/fieldData/copyModelsFieldData:
    post:
      operationId: copyModelsFieldData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceModel'
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/ExternalDataIdentifier'
                type: object
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Unprocessable content submitted
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: "Copy all existing field data from a BioModel/MathModel that you have\
        \ access to, but don't own."
      tags:
      - Field Data Resource
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/fieldData/createFromFile:
    post:
      operationId: createFromFile
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                contentType: application/octet-stream
                style: form
            schema:
              $ref: '#/components/schemas/createFromFile_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDataSavedResults'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          description: Not Allowed
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Unprocessable content submitted
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: "Submit a .zip or .tif file that converts into field data, with all\
        \ defaults derived from the file submitted."
      tags:
      - Field Data Resource
      x-content-type: multipart/form-data
      x-accepts: application/json
  /api/v1/fieldData/createFromSimulation:
    post:
      operationId: createFromSimulation
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createFromSimulation_request'
      responses:
        "201":
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Create new field data from existing simulation results.
      tags:
      - Field Data Resource
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /api/v1/fieldData/delete/{fieldDataID}:
    delete:
      operationId: delete
      parameters:
      - explode: false
        in: path
        name: fieldDataID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Delete the selected field data.
      tags:
      - Field Data Resource
      x-accepts: application/json
  /api/v1/fieldData/save:
    post:
      operationId: save
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldData'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDataSavedResults'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          description: Not Allowed
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Unprocessable content submitted
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: "Take the generated field data, and save it to the server. User may\
        \ adjust the analyzed file before uploading to edit defaults."
      tags:
      - Field Data Resource
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/fieldData/shape/{fieldDataID}:
    get:
      operationId: getShapeFromID
      parameters:
      - explode: false
        in: path
        name: fieldDataID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDataShape'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: "Get the shape of the field data. That is it's size, origin, extent,\
        \ times, and data identifiers."
      tags:
      - Field Data Resource
      x-accepts: application/json
  /api/v1/helloworld:
    get:
      operationId: getHelloWorld
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HelloWorldMessage'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
      summary: Get hello world message.
      tags:
      - Hello World
      x-accepts: application/json
  /api/v1/publications:
    get:
      operationId: getPublications
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Publication'
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      summary: Get all publications
      tags:
      - Publication Resource
      x-accepts: application/json
    post:
      operationId: createPublication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Publication'
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int64
                type: integer
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Create publication
      tags:
      - Publication Resource
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: updatePublication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Publication'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publication'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Update publication
      tags:
      - Publication Resource
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/publications/{id}:
    delete:
      operationId: deletePublication
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Delete publication
      tags:
      - Publication Resource
      x-accepts: application/json
    get:
      operationId: getPublicationById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publication'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      summary: Get publication by ID
      tags:
      - Publication Resource
      x-accepts: application/json
  /api/v1/solver/getFVSolverInput:
    post:
      operationId: getFVSolverInputFromSBML
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/getFVSolverInputFromSBML_request'
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Unprocessable content submitted
      summary: Retrieve finite volume input from SBML spatial model.
      tags:
      - Solver Resource
      x-content-type: multipart/form-data
      x-accepts: application/json
  /api/v1/solver/getFVSolverInputFromVCML:
    post:
      operationId: getFVSolverInputFromVCML
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/getFVSolverInputFromVCML_request'
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Unprocessable content submitted
      summary: Retrieve finite volume input from SBML spatial model.
      tags:
      - Solver Resource
      x-content-type: multipart/form-data
      x-accepts: application/json
  /api/v1/users/bearerToken:
    post:
      operationId: getLegacyApiToken
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccesTokenRepresentationRecord'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Get token for legacy API
      tags:
      - Users Resource
      x-accepts: application/json
  /api/v1/users/forgotLegacyPassword:
    post:
      operationId: forgotLegacyPassword
      parameters:
      - explode: true
        in: query
        name: userID
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Legacy password sent in email
        "401":
          description: Need to login to Auth0
        "403":
          description: Not Allowed
        "500":
          description: Internal Error
      security:
      - openId:
        - user
      summary: "The end user has forgotten the legacy password they used for VCell,\
        \ so they will be emailed it."
      tags:
      - Users Resource
      x-accepts: application/json
  /api/v1/users/guestBearerToken:
    post:
      operationId: getGuestLegacyApiToken
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccesTokenRepresentationRecord'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      summary: Method to get legacy tokens for guest users
      tags:
      - Users Resource
      x-accepts: application/json
  /api/v1/users/mapUser:
    post:
      operationId: mapUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginInfoForMapping'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: map vcell user
      tags:
      - Users Resource
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/users/mappedUser:
    get:
      operationId: getMappedUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentityJSONSafe'
          description: "Successful, returning the identity"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          description: Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Conflict with server state.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: Get mapped VCell identity
      tags:
      - Users Resource
      x-accepts: application/json
  /api/v1/users/me:
    get:
      operationId: getMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: OK
      summary: Get current user
      tags:
      - Users Resource
      x-accepts: application/json
  /api/v1/users/newUser:
    post:
      operationId: mapNewUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistrationInfo'
      responses:
        "200":
          description: "Successful, returning the identity"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          description: Not Allowed
        "409":
          description: "VCell Identity not mapped, userid already exists"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: create vcell user
      tags:
      - Users Resource
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/users/processMagicLink:
    get:
      operationId: processMagicLink
      parameters:
      - explode: true
        in: query
        name: magic
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: User mapped successfully
        "400":
          description: Invalid or expired magic link
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      summary: Process the magic link and map the user
      tags:
      - Users Resource
      x-accepts: application/json
  /api/v1/users/requestRecoveryEmail:
    post:
      operationId: requestRecoveryEmail
      parameters:
      - explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: userID
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: magic link sent in email if appropriate
        "400":
          description: unable to process request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: request a recovery email to link a VCell account.
      tags:
      - Users Resource
      x-accepts: application/json
  /api/v1/users/unmapUser/{userName}:
    put:
      operationId: unmapUser
      parameters:
      - explode: false
        in: path
        name: userName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Authorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Not Allowed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCellHTTPError'
          description: Data Access Exception
      security:
      - openId:
        - user
      summary: remove vcell identity mapping
      tags:
      - Users Resource
      x-accepts: application/json
components:
  schemas:
    AccesTokenRepresentationRecord:
      example:
        creationDateSeconds: 0
        userId: userId
        expireDateSeconds: 6
        userKey: userKey
        token: token
      properties:
        token:
          type: string
        creationDateSeconds:
          format: int64
          type: integer
        expireDateSeconds:
          format: int64
          type: integer
        userId:
          type: string
        userKey:
          type: string
      type: object
    Application:
      type: object
    ApplicationInfo:
      example:
        geometryName: geometryName
        name: name
        type: null
        dimensions: 7
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/MathType'
        dimensions:
          format: int32
          type: integer
        geometryName:
          type: string
      type: object
    BatchSystemType:
      enum:
      - PBS
      - SGE
      - SLURM
      type: string
    BioModel:
      example:
        branchID: branchID
        physModelKey: physModelKey
        bmKey: bmKey
        ownerName: ownerName
        name: name
        privacy: 0
        groupUsers:
        - groupUsers
        - groupUsers
        annot: annot
        simulationKeyList:
        - value: 0.8008281904610115
        - value: 0.8008281904610115
        ownerKey: ownerKey
        savedDate: 6
        applications:
        - null
        - null
      properties:
        bmKey:
          type: string
        name:
          type: string
        privacy:
          format: int32
          type: integer
        groupUsers:
          items:
            type: string
          type: array
        savedDate:
          format: int64
          type: integer
        annot:
          type: string
        branchID:
          type: string
        physModelKey:
          type: string
        ownerName:
          type: string
        ownerKey:
          type: string
        simulationKeyList:
          items:
            $ref: '#/components/schemas/KeyValue'
          type: array
        applications:
          items:
            $ref: '#/components/schemas/Application'
          type: array
      type: object
    BioModelChildSummary:
      example:
        simulationContextAnnotations:
        - simulationContextAnnotations
        - simulationContextAnnotations
        scAnnots:
        - scAnnots
        - scAnnots
        simulationContextNames:
        - simulationContextNames
        - simulationContextNames
        geoNames:
        - geoNames
        - geoNames
        geometryDimensions:
        - 2
        - 2
        geometryNames:
        - geometryNames
        - geometryNames
        simAnnots:
        - - simAnnots
          - simAnnots
        - - simAnnots
          - simAnnots
        geoDims:
        - 5
        - 5
        appTypes:
        - null
        - null
        scNames:
        - scNames
        - scNames
        applicationInfo:
        - geometryName: geometryName
          name: name
          type: null
          dimensions: 7
        - geometryName: geometryName
          name: name
          type: null
          dimensions: 7
        simNames:
        - - simNames
          - simNames
        - - simNames
          - simNames
      properties:
        scNames:
          items:
            type: string
          type: array
        scAnnots:
          items:
            type: string
          type: array
        geoNames:
          items:
            type: string
          type: array
        geoDims:
          items:
            format: int32
            type: integer
          type: array
        appTypes:
          items:
            $ref: '#/components/schemas/MathType'
          type: array
        simNames:
          items:
            items:
              type: string
            type: array
          type: array
        simAnnots:
          items:
            items:
              type: string
            type: array
          type: array
        geometryDimensions:
          items:
            format: int32
            type: integer
          type: array
        geometryNames:
          items:
            type: string
          type: array
        simulationContextAnnotations:
          items:
            type: string
          type: array
        simulationContextNames:
          items:
            type: string
          type: array
        applicationInfo:
          items:
            $ref: '#/components/schemas/ApplicationInfo'
          type: array
      type: object
    BioModelSummary:
      example:
        summary:
          simulationContextAnnotations:
          - simulationContextAnnotations
          - simulationContextAnnotations
          scAnnots:
          - scAnnots
          - scAnnots
          simulationContextNames:
          - simulationContextNames
          - simulationContextNames
          geoNames:
          - geoNames
          - geoNames
          geometryDimensions:
          - 2
          - 2
          geometryNames:
          - geometryNames
          - geometryNames
          simAnnots:
          - - simAnnots
            - simAnnots
          - - simAnnots
            - simAnnots
          geoDims:
          - 5
          - 5
          appTypes:
          - null
          - null
          scNames:
          - scNames
          - scNames
          applicationInfo:
          - geometryName: geometryName
            name: name
            type: null
            dimensions: 7
          - geometryName: geometryName
            name: name
            type: null
            dimensions: 7
          simNames:
          - - simNames
            - simNames
          - - simNames
            - simNames
        publicationInformation:
        - vcDocumentType: null
          citation: citation
          title: title
          publicationKey:
            value: 0.8008281904610115
          pubmedid: pubmedid
          pubDate: 2022-03-10T00:00:00.000+00:00
          url: url
          versionKey:
            value: 0.8008281904610115
          theHashCode: 9
          user:
            userName: userName
            key:
              value: 0.8008281904610115
          authors:
          - authors
          - authors
          doi: doi
          pubdate: 2022-03-10T00:00:00.000+00:00
        - vcDocumentType: null
          citation: citation
          title: title
          publicationKey:
            value: 0.8008281904610115
          pubmedid: pubmedid
          pubDate: 2022-03-10T00:00:00.000+00:00
          url: url
          versionKey:
            value: 0.8008281904610115
          theHashCode: 9
          user:
            userName: userName
            key:
              value: 0.8008281904610115
          authors:
          - authors
          - authors
          doi: doi
          pubdate: 2022-03-10T00:00:00.000+00:00
        version:
          date: 2000-01-23T04:56:07.000+00:00
          owner:
            userName: userName
            key:
              value: 0.8008281904610115
          branchID: 0.8008281904610115
          flag:
            archived: true
            current: true
            intValue: 1
            versionFlag: 6
            published: true
          groupAccess:
            groupid: 5.962133916683182
            description: description
          name: name
          annot: annot
          branchPointRefKey:
            value: 0.8008281904610115
          versionKey:
            value: 0.8008281904610115
        vCellSoftwareVersion:
          site: null
          vcellSite: null
          patchVersion: 4
          buildInt: 7
          description: description
          majorVersion: 3
          minorVersion: 2
          buildNumber: buildNumber
          softwareVersionString: softwareVersionString
          versionNumber: versionNumber
      properties:
        version:
          $ref: '#/components/schemas/Version'
        summary:
          $ref: '#/components/schemas/BioModelChildSummary'
        publicationInformation:
          items:
            $ref: '#/components/schemas/PublicationInfo'
          type: array
        vCellSoftwareVersion:
          $ref: '#/components/schemas/VCellSoftwareVersion'
      type: object
    BiomodelRef:
      example:
        bmKey: 5
        ownerName: ownerName
        name: name
        versionFlag: 7
        ownerKey: 2
      properties:
        bmKey:
          format: int64
          type: integer
        name:
          type: string
        ownerName:
          type: string
        ownerKey:
          format: int64
          type: integer
        versionFlag:
          format: int32
          type: integer
      type: object
    DataIdentifier:
      example:
        variableType:
          defaultUnits: defaultUnits
          name: name
          typeName: typeName
          defaultLabel: defaultLabel
          units: units
          label: label
          type: 0
          variableDomain: null
          legacyWarn: true
        visible: true
        displayName: displayName
        bFunction: true
        domain:
          name: name
        function: true
        name: name
      properties:
        name:
          type: string
        displayName:
          type: string
        variableType:
          $ref: '#/components/schemas/VariableType'
        domain:
          $ref: '#/components/schemas/Domain'
        bFunction:
          type: boolean
        function:
          type: boolean
        visible:
          type: boolean
      type: object
    Date:
      example: 2022-03-10
      format: date
      type: string
    DetailedState:
      enum:
      - UNKNOWN
      - DATAMOVEREVENT_MOVED
      - WORKEREVENT_WORKERALIVE
      - JOB_WAITING
      - JOB_QUEUED
      - JOB_QUEUED_RETRY
      - JOB_DISPATCHED
      - JOB_ACCEPTED
      - SOLVER_READY
      - SOLVER_STARTING_INIT
      - SOLVEREVENT_STARTING_PROC_GEOM
      - SOLVEREVENT_STARTING_RESAMPLE_FD
      - SOLVER_RUNNING_INIT
      - SOLVER_RUNNING_INIT_INPUT_FILE
      - SOLVER_RUNNING_INIT_CODEGEN
      - SOLVER_RUNNING_INIT_COMPILING
      - SOLVER_RUNNING_INIT_COMPILECMD
      - SOLVER_RUNNING_INIT_COMPILE_OK
      - SOLVER_RUNNING_INIT_LINKING
      - SOLVER_RUNNING_INIT_LINKCMD
      - SOLVER_RUNNING_INIT_LINK_OK
      - SOLVER_RUNNING_INIT_COMPILELINK_OK
      - SOLVEREVENT_STARTING_INIT
      - SOLVEREVENT_STARTING_CODEGEN
      - SOLVEREVENT_STARTING_COMPILELINK
      - SOLVEREVENT_STARTING_INPUT_FILE
      - SOLVEREVENT_STARTING
      - SOLVEREVENT_STARTING_SUBMITTING
      - SOLVEREVENT_STARTING_SUBMITTED
      - WORKEREVENT_STARTING
      - SOLVEREVENT_RUNNING_START
      - SOLVER_RUNNING_START
      - JOB_RUNNING_UNKNOWN
      - SOLVEREVENT_PRINTED
      - WORKEREVENT_DATA
      - JOB_RUNNING
      - SOLVEREVENT_PROGRESS
      - WORKEREVENT_PROGRESS
      - WORKEREVENT_WORKEREXIT_NORMAL
      - WORKEREVENT_WORKEREXIT_ERROR
      - SOLVEREVENT_FINISHED
      - SOLVER_FINISHED
      - WORKEREVENT_COMPLETED
      - JOB_COMPLETED
      - SOLVER_STOPPED
      - JOB_STOPPED
      - JOB_FAILED_UNKNOWN
      - SOLVER_ABORTED
      - WORKEREVENT_FAILURE
      - JOB_FAILED
      type: string
    Domain:
      example:
        name: name
      properties:
        name:
          type: string
      type: object
    Extent:
      example:
        x: 7.061401241503109
        "y": 9.301444243932576
        z: 3.616076749251911
      properties:
        x:
          format: double
          type: number
          xml:
            attribute: true
        "y":
          format: double
          type: number
          xml:
            attribute: true
        z:
          format: double
          type: number
          xml:
            attribute: true
      type: object
    ExternalDataIdentifier:
      example:
        owner:
          userName: userName
          key:
            value: 0.8008281904610115
        dataKey:
          value: 0.8008281904610115
        simulationKey:
          value: 0.8008281904610115
        jobIndex: 0
        name: name
        key:
          value: 0.8008281904610115
        parameterScanType: true
      properties:
        key:
          $ref: '#/components/schemas/KeyValue'
        owner:
          $ref: '#/components/schemas/User'
        name:
          type: string
        jobIndex:
          format: int32
          type: integer
        simulationKey:
          $ref: '#/components/schemas/KeyValue'
        parameterScanType:
          type: boolean
        dataKey:
          $ref: '#/components/schemas/KeyValue'
      type: object
    FieldData:
      example:
        extent:
          x: 7.061401241503109
          "y": 9.301444243932576
          z: 3.616076749251911
        annotation: annotation
        times:
        - 1.4658129805029452
        - 1.4658129805029452
        doubleSpecData:
        - - - 6.027456183070403
            - 6.027456183070403
          - - 6.027456183070403
            - 6.027456183070403
        - - - 6.027456183070403
            - 6.027456183070403
          - - 6.027456183070403
            - 6.027456183070403
        origin:
          x: 5.962133916683182
          "y": 5.637376656633329
          z: 2.3021358869347655
        isize:
          x: 2
          "y": 4
          z: 7
        name: name
        varNames:
        - varNames
        - varNames
        shortSpecData:
        - - - 0
            - 0
          - - 0
            - 0
        - - - 0
            - 0
          - - 0
            - 0
      properties:
        shortSpecData:
          items:
            items:
              items:
                type: integer
              type: array
            type: array
          type: array
        doubleSpecData:
          items:
            items:
              items:
                format: double
                type: number
              type: array
            type: array
          type: array
        varNames:
          items:
            type: string
          type: array
        times:
          items:
            format: double
            type: number
          type: array
        origin:
          $ref: '#/components/schemas/Origin'
        extent:
          $ref: '#/components/schemas/Extent'
        isize:
          $ref: '#/components/schemas/ISize'
        annotation:
          type: string
        name:
          type: string
      type: object
    FieldDataReference:
      example:
        annotation: annotation
        fieldDataID:
          owner:
            userName: userName
            key:
              value: 0.8008281904610115
          dataKey:
            value: 0.8008281904610115
          simulationKey:
            value: 0.8008281904610115
          jobIndex: 0
          name: name
          key:
            value: 0.8008281904610115
          parameterScanType: true
        simulationsReferencingThisID:
        - value: 0.8008281904610115
        - value: 0.8008281904610115
      properties:
        fieldDataID:
          $ref: '#/components/schemas/ExternalDataIdentifier'
        annotation:
          type: string
        simulationsReferencingThisID:
          items:
            $ref: '#/components/schemas/KeyValue'
          type: array
      type: object
    FieldDataSavedResults:
      example:
        fieldDataName: fieldDataName
        fieldDataKey: fieldDataKey
      properties:
        fieldDataName:
          type: string
        fieldDataKey:
          type: string
      type: object
    FieldDataShape:
      example:
        extent:
          x: 7.061401241503109
          "y": 9.301444243932576
          z: 3.616076749251911
        times:
        - 6.027456183070403
        - 6.027456183070403
        origin:
          x: 5.962133916683182
          "y": 5.637376656633329
          z: 2.3021358869347655
        isize:
          x: 2
          "y": 4
          z: 7
        dataIdentifier:
        - variableType:
            defaultUnits: defaultUnits
            name: name
            typeName: typeName
            defaultLabel: defaultLabel
            units: units
            label: label
            type: 0
            variableDomain: null
            legacyWarn: true
          visible: true
          displayName: displayName
          bFunction: true
          domain:
            name: name
          function: true
          name: name
        - variableType:
            defaultUnits: defaultUnits
            name: name
            typeName: typeName
            defaultLabel: defaultLabel
            units: units
            label: label
            type: 0
            variableDomain: null
            legacyWarn: true
          visible: true
          displayName: displayName
          bFunction: true
          domain:
            name: name
          function: true
          name: name
      properties:
        extent:
          $ref: '#/components/schemas/Extent'
        origin:
          $ref: '#/components/schemas/Origin'
        isize:
          $ref: '#/components/schemas/ISize'
        dataIdentifier:
          items:
            $ref: '#/components/schemas/DataIdentifier'
          type: array
        times:
          items:
            format: double
            type: number
          type: array
      type: object
    GroupAccess:
      discriminator:
        mapping:
          GroupAccessNone: '#/components/schemas/GroupAccessNone'
          GroupAccessSome: '#/components/schemas/GroupAccessSome'
          GroupAccessAll: '#/components/schemas/GroupAccessAll'
        propertyName: type
      example:
        groupid: 5.962133916683182
        description: description
      properties:
        groupid:
          type: number
        description:
          type: string
      required:
      - groupid
      type: object
    GroupAccessAll:
      allOf:
      - $ref: '#/components/schemas/GroupAccess'
      properties:
        type:
          default: GroupAccessAll
          type: string
        description:
          type: string
      required:
      - type
      type: object
    GroupAccessNone:
      allOf:
      - $ref: '#/components/schemas/GroupAccess'
      properties:
        type:
          default: GroupAccessNone
          type: string
        description:
          type: string
      required:
      - type
      type: object
    GroupAccessSome:
      allOf:
      - $ref: '#/components/schemas/GroupAccess'
      properties:
        type:
          default: GroupAccessSome
          type: string
        hash:
          type: number
        groupMembers:
          items:
            $ref: '#/components/schemas/User'
          type: array
        hiddenMembers:
          items:
            type: boolean
          type: array
        description:
          type: string
        hiddenGroupMembers:
          items:
            $ref: '#/components/schemas/User'
          type: array
        normalGroupMembers:
          items:
            $ref: '#/components/schemas/User'
          type: array
      required:
      - type
      type: object
    HelloWorldMessage:
      example:
        message: message
      properties:
        message:
          type: string
      type: object
    HtcJobID:
      example:
        server: server
        batchSystemType: null
        jobNumber: 6
      properties:
        jobNumber:
          format: int64
          type: integer
        server:
          type: string
        batchSystemType:
          $ref: '#/components/schemas/BatchSystemType'
      type: object
    ISize:
      example:
        x: 2
        "y": 4
        z: 7
      properties:
        x:
          format: int32
          type: integer
        "y":
          format: int32
          type: integer
        z:
          format: int32
          type: integer
      type: object
    Identity:
      example:
        credentials:
        - credentials
        - credentials
        roles:
        - roles
        - roles
        principal_name: principal_name
        attributes:
        - attributes
        - attributes
      properties:
        principal_name:
          type: string
        roles:
          items:
            type: string
          type: array
        attributes:
          items:
            type: string
          type: array
        credentials:
          items:
            type: string
          type: array
      type: object
    Instant:
      example: 2022-03-10T16:15:50Z
      format: date-time
      type: string
    KeyValue:
      example:
        value: 0.8008281904610115
      properties:
        value:
          type: number
      type: object
    MathType:
      enum:
      - RuleBased
      - Stochastic
      - Deterministic
      - SpringSaLaD
      - Unknown
      type: string
    MathmodelRef:
      example:
        ownerName: ownerName
        name: name
        versionFlag: 2
        mmKey: 9
        ownerKey: 3
      properties:
        mmKey:
          format: int64
          type: integer
        name:
          type: string
        ownerName:
          type: string
        ownerKey:
          format: int64
          type: integer
        versionFlag:
          format: int32
          type: integer
      type: object
    ModelType:
      enum:
      - BIOMODEL
      - MATHMODEL
      type: string
    Origin:
      example:
        x: 5.962133916683182
        "y": 5.637376656633329
        z: 2.3021358869347655
      properties:
        x:
          format: double
          type: number
          xml:
            attribute: true
        "y":
          format: double
          type: number
          xml:
            attribute: true
        z:
          format: double
          type: number
          xml:
            attribute: true
      type: object
    Publication:
      example:
        date: 2022-03-10T00:00:00.000+00:00
        wittid: 5
        year: 6
        citation: citation
        title: title
        biomodelRefs:
        - bmKey: 5
          ownerName: ownerName
          name: name
          versionFlag: 7
          ownerKey: 2
        - bmKey: 5
          ownerName: ownerName
          name: name
          versionFlag: 7
          ownerKey: 2
        pubmedid: pubmedid
        url: url
        mathmodelRefs:
        - ownerName: ownerName
          name: name
          versionFlag: 2
          mmKey: 9
          ownerKey: 3
        - ownerName: ownerName
          name: name
          versionFlag: 2
          mmKey: 9
          ownerKey: 3
        pubKey: 0
        authors:
        - authors
        - authors
        doi: doi
        endnoteid: 1
      properties:
        pubKey:
          format: int64
          type: integer
        title:
          type: string
        authors:
          items:
            type: string
          type: array
        year:
          format: int32
          type: integer
        citation:
          type: string
        pubmedid:
          type: string
        doi:
          type: string
        endnoteid:
          format: int32
          type: integer
        url:
          type: string
        wittid:
          format: int32
          type: integer
        biomodelRefs:
          items:
            $ref: '#/components/schemas/BiomodelRef'
          type: array
        mathmodelRefs:
          items:
            $ref: '#/components/schemas/MathmodelRef'
          type: array
        date:
          example: 2022-03-10
          format: date
          type: string
      type: object
    PublicationInfo:
      example:
        vcDocumentType: null
        citation: citation
        title: title
        publicationKey:
          value: 0.8008281904610115
        pubmedid: pubmedid
        pubDate: 2022-03-10T00:00:00.000+00:00
        url: url
        versionKey:
          value: 0.8008281904610115
        theHashCode: 9
        user:
          userName: userName
          key:
            value: 0.8008281904610115
        authors:
        - authors
        - authors
        doi: doi
        pubdate: 2022-03-10T00:00:00.000+00:00
      properties:
        publicationKey:
          $ref: '#/components/schemas/KeyValue'
        versionKey:
          $ref: '#/components/schemas/KeyValue'
        title:
          type: string
        authors:
          items:
            type: string
          type: array
        citation:
          type: string
        pubmedid:
          type: string
        doi:
          type: string
        url:
          type: string
        pubdate:
          example: 2022-03-10
          format: date
          type: string
        vcDocumentType:
          $ref: '#/components/schemas/VCDocumentType'
        user:
          $ref: '#/components/schemas/User'
        theHashCode:
          format: int32
          type: integer
        pubDate:
          example: 2022-03-10
          format: date
          type: string
      type: object
    SaveBioModel:
      example:
        simsRequiringUpdates:
        - simsRequiringUpdates
        - simsRequiringUpdates
        name: name
        bioModelXML: bioModelXML
      properties:
        bioModelXML:
          pattern: \S
          type: string
        name:
          nullable: true
          type: string
        simsRequiringUpdates:
          items:
            type: string
          nullable: true
          type: array
      required:
      - bioModelXML
      type: object
    SchedulerStatus:
      enum:
      - WAITING
      - QUEUED
      - DISPATCHED
      - RUNNING
      - COMPLETED
      - STOPPED
      - FAILED
      type: string
    SimulationExecutionStatusRecord:
      example:
        fieldLatestUpdateDate: 2022-03-10T16:15:50Z
        fieldHasData: true
        fieldStartDate: 2022-03-10T16:15:50Z
        fieldEndDate: 2022-03-10T16:15:50Z
        fieldComputeHost: fieldComputeHost
        fieldHtcJobID:
          server: server
          batchSystemType: null
          jobNumber: 6
      properties:
        fieldStartDate:
          example: 2022-03-10T16:15:50Z
          format: date-time
          type: string
        fieldLatestUpdateDate:
          example: 2022-03-10T16:15:50Z
          format: date-time
          type: string
        fieldEndDate:
          example: 2022-03-10T16:15:50Z
          format: date-time
          type: string
        fieldComputeHost:
          type: string
        fieldHasData:
          type: boolean
        fieldHtcJobID:
          $ref: '#/components/schemas/HtcJobID'
      type: object
    SimulationJobStatusRecord:
      example:
        fieldSimulationMessage:
          htcJobId:
            server: server
            batchSystemType: null
            jobNumber: 6
          displayMessage: displayMessage
          detailedState: null
          message: message
        fieldTimeDataStamp: 2022-03-10T16:15:50Z
        fieldServerID: fieldServerID
        fieldSimulationExecutionStatus:
          fieldLatestUpdateDate: 2022-03-10T16:15:50Z
          fieldHasData: true
          fieldStartDate: 2022-03-10T16:15:50Z
          fieldEndDate: 2022-03-10T16:15:50Z
          fieldComputeHost: fieldComputeHost
          fieldHtcJobID:
            server: server
            batchSystemType: null
            jobNumber: 6
        fieldVCSimID:
          owner:
            userName: userName
            key:
              value: 0.8008281904610115
          simulationKey:
            value: 0.8008281904610115
          id: id
        fieldTaskID: 1
        fieldSimulationQueueEntryStatus:
          fieldQueuePriority: 5
          fieldQueueID: null
          fieldQueueDate: 2022-03-10T16:15:50Z
        fieldSubmitDate: 2022-03-10T16:15:50Z
        fieldSchedulerStatus: null
        fieldJobIndex: 5
      properties:
        fieldTimeDataStamp:
          example: 2022-03-10T16:15:50Z
          format: date-time
          type: string
        fieldVCSimID:
          $ref: '#/components/schemas/VCSimulationIdentifier'
        fieldSubmitDate:
          example: 2022-03-10T16:15:50Z
          format: date-time
          type: string
        fieldSchedulerStatus:
          $ref: '#/components/schemas/SchedulerStatus'
        fieldSimulationMessage:
          $ref: '#/components/schemas/SimulationMessage'
        fieldTaskID:
          format: int32
          type: integer
        fieldServerID:
          type: string
        fieldJobIndex:
          format: int32
          type: integer
        fieldSimulationExecutionStatus:
          $ref: '#/components/schemas/SimulationExecutionStatusRecord'
        fieldSimulationQueueEntryStatus:
          $ref: '#/components/schemas/SimulationQueueEntryStatusRecord'
      type: object
    SimulationMessage:
      example:
        htcJobId:
          server: server
          batchSystemType: null
          jobNumber: 6
        displayMessage: displayMessage
        detailedState: null
        message: message
      properties:
        detailedState:
          $ref: '#/components/schemas/DetailedState'
        message:
          type: string
        htcJobId:
          $ref: '#/components/schemas/HtcJobID'
        displayMessage:
          type: string
      type: object
    SimulationQueueEntryStatusRecord:
      example:
        fieldQueuePriority: 5
        fieldQueueID: null
        fieldQueueDate: 2022-03-10T16:15:50Z
      properties:
        fieldQueuePriority:
          format: int32
          type: integer
        fieldQueueDate:
          example: 2022-03-10T16:15:50Z
          format: date-time
          type: string
        fieldQueueID:
          $ref: '#/components/schemas/SimulationQueueID'
      type: object
    SimulationQueueID:
      enum:
      - QUEUE_ID_WAITING
      - QUEUE_ID_SIMULATIONJOB
      - QUEUE_ID_NULL
      type: string
    SimulationStatusPersistentRecord:
      example:
        hasData: true
        details: details
        status: null
      properties:
        status:
          $ref: '#/components/schemas/Status'
        details:
          type: string
        hasData:
          type: boolean
      type: object
    SourceModel:
      example:
        modelID: modelID
        modelType: null
      properties:
        modelID:
          type: string
        modelType:
          $ref: '#/components/schemas/ModelType'
      type: object
    Status:
      enum:
      - UNKNOWN
      - NEVER_RAN
      - START_REQUESTED
      - DISPATCHED
      - WAITING
      - QUEUED
      - RUNNING
      - COMPLETED
      - FAILED
      - STOP_REQUESTED
      - STOPPED
      - NOT_SAVED
      type: string
    StatusMessage:
      example:
        jobStatus:
          fieldSimulationMessage:
            htcJobId:
              server: server
              batchSystemType: null
              jobNumber: 6
            displayMessage: displayMessage
            detailedState: null
            message: message
          fieldTimeDataStamp: 2022-03-10T16:15:50Z
          fieldServerID: fieldServerID
          fieldSimulationExecutionStatus:
            fieldLatestUpdateDate: 2022-03-10T16:15:50Z
            fieldHasData: true
            fieldStartDate: 2022-03-10T16:15:50Z
            fieldEndDate: 2022-03-10T16:15:50Z
            fieldComputeHost: fieldComputeHost
            fieldHtcJobID:
              server: server
              batchSystemType: null
              jobNumber: 6
          fieldVCSimID:
            owner:
              userName: userName
              key:
                value: 0.8008281904610115
            simulationKey:
              value: 0.8008281904610115
            id: id
          fieldTaskID: 1
          fieldSimulationQueueEntryStatus:
            fieldQueuePriority: 5
            fieldQueueID: null
            fieldQueueDate: 2022-03-10T16:15:50Z
          fieldSubmitDate: 2022-03-10T16:15:50Z
          fieldSchedulerStatus: null
          fieldJobIndex: 5
        progress: 2.3021358869347655
        userName: userName
        timepoint: 7.061401241503109
      properties:
        jobStatus:
          $ref: '#/components/schemas/SimulationJobStatusRecord'
        userName:
          type: string
        progress:
          format: double
          type: number
        timepoint:
          format: double
          type: number
      type: object
    User:
      example:
        userName: userName
        key:
          value: 0.8008281904610115
      properties:
        userName:
          type: string
        key:
          $ref: '#/components/schemas/KeyValue'
      type: object
    UserIdentityJSONSafe:
      example:
        subject: subject
        mapped: true
        insertDate: insertDate
        id: 0.8008281904610115
        userName: userName
      properties:
        mapped:
          type: boolean
        userName:
          type: string
        id:
          type: number
        subject:
          type: string
        insertDate:
          type: string
      type: object
    UserLoginInfoForMapping:
      example:
        password: password
        userID: userID
      properties:
        userID:
          type: string
        password:
          type: string
      type: object
    UserRegistrationInfo:
      example:
        emailNotification: true
        country: country
        organization: organization
        title: title
        userID: userID
      properties:
        userID:
          type: string
        title:
          type: string
        organization:
          type: string
        country:
          type: string
        emailNotification:
          type: boolean
      type: object
    VCDocumentType:
      enum:
      - BIOMODEL_DOC
      - MATHMODEL_DOC
      - GEOMETRY_DOC
      - EXTERNALFILE_DOC
      type: string
    VCSimulationIdentifier:
      example:
        owner:
          userName: userName
          key:
            value: 0.8008281904610115
        simulationKey:
          value: 0.8008281904610115
        id: id
      properties:
        simulationKey:
          $ref: '#/components/schemas/KeyValue'
        owner:
          $ref: '#/components/schemas/User'
        id:
          type: string
      type: object
    VCellHTTPError:
      properties:
        exceptionType:
          type: string
        message:
          type: string
      type: object
    VCellSite:
      enum:
      - alpha
      - beta
      - rel
      - other
      - unknown
      type: string
    VCellSoftwareVersion:
      example:
        site: null
        vcellSite: null
        patchVersion: 4
        buildInt: 7
        description: description
        majorVersion: 3
        minorVersion: 2
        buildNumber: buildNumber
        softwareVersionString: softwareVersionString
        versionNumber: versionNumber
      properties:
        softwareVersionString:
          type: string
        vcellSite:
          $ref: '#/components/schemas/VCellSite'
        buildNumber:
          type: string
        versionNumber:
          type: string
        majorVersion:
          format: int32
          type: integer
        minorVersion:
          format: int32
          type: integer
        patchVersion:
          format: int32
          type: integer
        buildInt:
          format: int32
          type: integer
        site:
          $ref: '#/components/schemas/VCellSite'
        description:
          type: string
      type: object
    VariableDomain:
      enum:
      - VARIABLEDOMAIN_POSTPROCESSING
      - VARIABLEDOMAIN_UNKNOWN
      - VARIABLEDOMAIN_VOLUME
      - VARIABLEDOMAIN_MEMBRANE
      - VARIABLEDOMAIN_CONTOUR
      - VARIABLEDOMAIN_NONSPATIAL
      - VARIABLEDOMAIN_POINT
      type: string
    VariableType:
      example:
        defaultUnits: defaultUnits
        name: name
        typeName: typeName
        defaultLabel: defaultLabel
        units: units
        label: label
        type: 0
        variableDomain: null
        legacyWarn: true
      properties:
        type:
          format: int32
          type: integer
        variableDomain:
          $ref: '#/components/schemas/VariableDomain'
        name:
          type: string
        units:
          type: string
        label:
          type: string
        legacyWarn:
          type: boolean
        defaultLabel:
          type: string
        defaultUnits:
          type: string
        typeName:
          type: string
      type: object
    Version:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        owner:
          userName: userName
          key:
            value: 0.8008281904610115
        branchID: 0.8008281904610115
        flag:
          archived: true
          current: true
          intValue: 1
          versionFlag: 6
          published: true
        groupAccess:
          groupid: 5.962133916683182
          description: description
        name: name
        annot: annot
        branchPointRefKey:
          value: 0.8008281904610115
        versionKey:
          value: 0.8008281904610115
      properties:
        versionKey:
          $ref: '#/components/schemas/KeyValue'
        annot:
          type: string
        branchID:
          type: number
        branchPointRefKey:
          $ref: '#/components/schemas/KeyValue'
        date:
          format: date-time
          type: string
        flag:
          $ref: '#/components/schemas/VersionFlag'
        groupAccess:
          $ref: '#/components/schemas/GroupAccess'
        name:
          type: string
        owner:
          $ref: '#/components/schemas/User'
      type: object
    VersionFlag:
      example:
        archived: true
        current: true
        intValue: 1
        versionFlag: 6
        published: true
      properties:
        versionFlag:
          format: int32
          type: integer
        intValue:
          format: int32
          type: integer
        archived:
          type: boolean
        current:
          type: boolean
        published:
          type: boolean
      type: object
    advancedCreate_request:
      properties:
        file:
          format: binary
          type: string
        fileName:
          type: string
        extent:
          $ref: '#/components/schemas/Extent'
        iSize:
          $ref: '#/components/schemas/ISize'
        channelNames:
          items:
            type: string
          type: array
        times:
          items:
            format: double
            type: number
          type: array
        annotation:
          type: string
        origin:
          $ref: '#/components/schemas/Origin'
      type: object
    analyzeFile_request:
      properties:
        file:
          format: binary
          type: string
        fileName:
          type: string
      type: object
    createFromFile_request:
      properties:
        file:
          format: binary
          type: string
        fieldDataName:
          type: string
      type: object
    createFromSimulation_request:
      properties:
        simKeyReference:
          type: string
        jobIndex:
          format: int32
          type: integer
        newFieldDataName:
          type: string
      type: object
    getFVSolverInputFromSBML_request:
      properties:
        sbmlFile:
          format: binary
          type: string
        duration:
          default: 5.0
          format: double
          type: number
        output_time_step:
          default: 0.1
          format: double
          type: number
      type: object
    getFVSolverInputFromVCML_request:
      properties:
        vcmlFile:
          format: binary
          type: string
        simulation_name:
          type: string
      type: object
  securitySchemes:
    openId:
      description: Authentication
      openIdConnectUrl: https://dev-dzhx7i2db3x3kkvq.us.auth0.com/.well-known/openid-configuration
      type: openIdConnect

