<div class="next-steps my-5">
    <h2 class="my-5 text-center">What can I do next?</h2>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://vcell.org">
            <fa-icon [icon]="faLink"></fa-icon> Learn About VCell
          </a>
        </h6>
        <p>
          VCell is a nice tool for modeling and simulating biological systems - learn more about it here.
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://github.com/virtualcell/vcell">
            <fa-icon [icon]="faLink"></fa-icon> VCell on GitHub
          </a>
        </h6>
        <p>
          VCell is open source - you can find the source code on GitHub.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="/publications">
            <fa-icon [icon]="faLink"></fa-icon> Administrative Tools (requires login)
          </a>
        </h6>
        <p>
          publications, users, etc.
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="/api/v0/biomodel">
            <fa-icon [icon]="faLink"></fa-icon> previous webapp
          </a>
        </h6>
        <p>
          This is the previous version of the VCell webapp.  Is is still available for a limited time.
        </p>
      </div>
    </div>
  </div>
