name: Build and Publish VCell Docker Images

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Repository tag (e.g., 7.7.0.37)"
        required: true
      client_only:
        description: "Build only client images (true/false)"
        required: false
        default: "false"
  release:
    types: [published]
  
env:
  python-version: "3.10"
  
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Free up VM's disk space
      run: |
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /usr/local/.ghcup
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/share/swift
        sudo apt-get clean

    - uses: actions/checkout@v4

    - name: set global environment variables
      run: |
        if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
          echo "FRIENDLY_TAG=${{ github.event.inputs.tag }}" >> $GITHUB_ENV   
        else
          echo "FRIENDLY_TAG=${GITHUB_REF:10}" >> $GITHUB_ENV
        fi
        echo "VCELL_TAG=`git rev-parse --short HEAD`" >> $GITHUB_ENV
        echo "VCELL_REPO_NAMESPACE=ghcr.io/virtualcell" >> $GITHUB_ENV
        echo "VCELL_DEPLOY_REMOTE_DIR=/share/apps/vcell3/deployed_github" >> $GITHUB_ENV
        echo "VCELL_MANAGER_NODE=vcellapi.cam.uchc.edu" >> $GITHUB_ENV
    - name: setup ssh-agent
      uses: webfactory/ssh-agent@v0.8.0
      with:
        ssh-private-key: ${{ secrets.VC_KEY }}
    - name: get installer secrets
      run: |
        ssh-keyscan ${VCELL_MANAGER_NODE} >> ~/.ssh/known_hosts
        sudo mkdir /usr/local/deploy
        sudo chmod 777 /usr/local/deploy
        cd /usr/local/deploy
        scp ${{ secrets.CD_FULL_USER }}@${VCELL_MANAGER_NODE}:${VCELL_DEPLOY_REMOTE_DIR}/deploy_dir_2025_03_18.tar .
        cd ..
        sudo tar -xvf deploy/deploy_dir_2025_03_18.tar
        sudo chmod 777 -R deploy
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.python-version }}
        cache: "pip"
      
    - name: Install Dependencies
      run: pip install -r requirements.txt

    - name: build python packages
      run: |
        set -ux
        for POETRY_DIR in vcell-cli-utils docker/swarm/vcell-admin pythonCopasiOpt/vcell-opt pythonVtk python-utils python-restclient pythonData;\
        do pushd $POETRY_DIR;\
          poetry install;\
          poetry run python -m pytest;\
          popd;\
        done

    - name: setup java 17 with maven cache
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'

    - name: build and publish all images
      shell: bash
      run: |
        cd docker/build
        echo "${{ secrets.GITHUB_TOKEN }}" | sudo docker login ghcr.io -u ${{ github.actor }} --password-stdin
        echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
        if [ "${{ github.event.inputs.client_only }}" = "true" ]; then
          echo "Building only client images"
          export BUILD_IMAGES="clientgen"
        else
          echo "Building all images"
          export BUILD_IMAGES="all"
        fi
        ./build.sh ${BUILD_IMAGES} ${{ env.VCELL_REPO_NAMESPACE }} ${{ env.VCELL_TAG }}

    - name: tag as latest and push to registry
      shell: bash
      run: |
        if [ "${{ github.event.inputs.client_only }}" = "true" ]; then
          echo "Building only client images"
          export CONTAINER_SET="vcell-clientgen"
        else
          echo "Building all images"
          export CONTAINER_SET="vcell-exporter vcell-api vcell-rest vcell-webapp-prod vcell-webapp-dev vcell-webapp-stage vcell-webapp-island vcell-batch vcell-opt vcell-clientgen vcell-data vcell-db vcell-mongo vcell-sched vcell-submit vcell-admin"
        fi
        
        for CONTAINER in ${CONTAINER_SET};\
           do docker tag ${VCELL_REPO_NAMESPACE}/$CONTAINER:${VCELL_TAG} ${VCELL_REPO_NAMESPACE}/$CONTAINER:latest;\
           docker tag ${VCELL_REPO_NAMESPACE}/$CONTAINER:${VCELL_TAG} ${VCELL_REPO_NAMESPACE}/$CONTAINER:${FRIENDLY_TAG};\
           docker push --all-tags ${VCELL_REPO_NAMESPACE}/$CONTAINER;\
        done

    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      if: ${{ failure() }}
