name: Create biosim containers
on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: 'commit ID'
        required: true
        default: 3ca1093da599a0ff4229b1130efe7a3924ff2b4c

env:
  python-version: "3.12"

jobs:
  CD:
    name: CD
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.commit_sha }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.python-version }}
          cache: "pip"
      
      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: build vcell-cli-utils package
        run: |
          cd vcell-cli-utils
          poetry install
      - name: build vcell-admin package
        run: |
          cd docker/swarm/vcell-admin
          poetry install

      - name: setup java 17 with maven cache
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Add Linux dependencies
        shell: bash
        run: |
          mvn -version
          java -version
          mvn --batch-mode clean install dependency:copy-dependencies -DskipTests=true
      - name: set global environment variables
        run: |
          echo "VCELL_SHA=`git rev-parse --short HEAD`" >> $GITHUB_ENV
      - name: Install Singularity # to make singularity image to use on cluster
        uses: eWaterCycle/setup-singularity@v6
        with:
          singularity-version: 3.8.3
      - name: Build Docker image and push with latest tag
        run: |
          set -ux
          REVISION=$(git rev-parse HEAD)
          CREATED=$(date --rfc-3339=seconds | sed 's/ /T/')
          sed -i 's/_VC_VERSION_TAG_/${VCELL_SHA}/g' biosimulators.json
          echo ${{ secrets.ACTION_TOKEN }} | docker login ghcr.io -u ${{ secrets.ACTION_USER }} --password-stdin
          docker build \
            --no-cache \
            --file Dockerfile \
            --build-arg SIMULATOR_VERSION=${VCELL_SHA} \
            --tag ghcr.io/virtualcell/biosimulators_vcell:${VCELL_SHA} \
            --label org.opencontainers.image.revision=${REVISION} \
            --label org.opencontainers.image.created=${CREATED} \
            --label org.opencontainers.image.version=${VCELL_SHA} \
            --label org.opencontainers.image.license=MIT \
            .
          docker push --all-tags ghcr.io/virtualcell/biosimulators_vcell
          singularity build biosimulators_vcell_${VCELL_SHA}.img docker:ghcr.io/virtualcell/biosimulators_vcell:${VCELL_SHA}
          singularity remote login -u ${{ secrets.ACTION_USER }} -p ${{ secrets.ACTION_TOKEN }} oras://ghcr.io
          singularity push -U biosimulators_vcell_${VCELL_SHA}.img oras://ghcr.io/virtualcell/biosimulators_vcell_singularity:${VCELL_SHA}

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ failure() }}

